@model Employee

@{
    ViewData["Title"] = "Employee Page";
}




<div class="container m-3">
    <input hidden asp-for="Id" />
    <div class="col-8 col-md-6 col-lg-3 mb-4">
    <div class="card">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYlTkdbUaO-sZN85l3s7VNQisbAyogrzgAmg&usqp=CAU" />
        <div class="card-body">
            <h5 class="card-title">Name: @Model.EmployeeName</h5>
            <h6>Age: @Model.EmployeeAge</h6>
            <h6>Salary: @Model.EmployeeSalary</h6>
            <a asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
</div>





